<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>objects manage</title>
</head>
<body>
<div>
<form action="/myapp/objects_manage_post/" method="post" enctype="multipart/form-data">
    <label for="">Name:</label>
    <input type="text" name="name">
    <br><br>
    <label for="">image:</label>
    <input type="file" name="image">
    <br><br>
    <label for="">details:</label>
    <input type="text" name="details">
    <br><br><br>
    <input type="submit">
</form>
    </div>
</body>
</html>